<p>Hey {{name}},</p>
<p>Please click the link below to visit your profile and confirm your session</p>
<p>Session details:</p>
<ul>
  <li>Doctor name: {{doctorName}}</li>
  <li>Duration: {{startTime}} - {{endTime}}</li>
</ul>
<p>
  <a href='{{url}}'>Visit Profile</a>
</p>